/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baskervville Regular'), local('Baskervville-Regular'), url(https://fonts.gstatic.com/s/baskervville/v1/YA9Ur0yU4l_XOrogbkun3kQQsJms.ttf) format('truetype');
}
@font-face {
  font-family: 'Gelasio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gelasio Regular'), local('Gelasio-Regular'), url(https://fonts.gstatic.com/s/gelasio/v1/cIf9MaFfvUQxTTqS9C6hZA.ttf) format('truetype');
}
html,
body {
  font-size: 62.5%;
}
body {
  background-image: url("../img/main-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 550px) {
  body {
    background-attachment: fixed;
    background-position: bottom;
  }
}
strong {
  font-weight: bold;
  color: #1a1927;
}
i {
  margin-bottom: 2%;
  color: orange;
}
h1 {
  font-family: 'Baskervville', serif;
  font-weight: bold;
  font-size: 2.6rem;
  color: #1a1927;
}
h2 {
  font-family: 'Baskervville', serif;
  font-weight: bold;
  font-size: 2rem;
  color: #1a1927;
}
h3 {
  font-family: 'Gelasio', serif;
  font-size: 1.4rem;
  color: #1a1927;
}
p,
ul,
li {
  font-family: 'Gelasio', serif;
  font-size: 1.8rem;
  color: #1a1927;
}
.container {
  width: 75%;
  margin: 2% auto;
}
@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 96%;
  }
}
.profile-image {
  border-radius: 50%;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  margin: 3% 0%;
  padding: 2%;
  width: 100%;
}
@media (max-width: 500px) {
  .welcome {
    margin: 0% 0% 2% 0%;
  }
}
.welcome div {
  margin: 0.5%;
  padding: 0.5%;
  line-height: 1.5;
}
nav {
  width: 100%;
}
.navbar {
  display: flex;
  font-family: 'Gelasio', serif;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  font-size: 1.6rem;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  padding: 0% 2% 0%;
  color: #2b2b2b;
}
.navbar a:hover {
  color: orange;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    margin-bottom: 0;
  }
  .navbar a {
    margin-bottom: 8%;
    font-size: 1.7rem;
  }
}
.about-me {
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
  width: 100%;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .about-me {
    flex-direction: column;
    align-items: center;
    line-height: 1.3;
  }
  .about-me div {
    margin-bottom: 8%;
    width: 100%;
  }
  .about-me ul,
  .about-me li,
  .about-me .skills {
    text-align: center;
    width: 100%;
  }
}
.about-me h2 {
  margin-bottom: 1%;
  width: 100%;
  border-bottom: 1px solid #1a1927;
  line-height: 1.2;
}
.about-me .details {
  width: 60%;
  padding-right: 2%;
}
.about-me .skills {
  width: 30%;
  padding-right: 3%;
}
@media (max-width: 500px) {
  .about-me .skills {
    width: 45%;
  }
}
.about-me .skills li {
  line-height: 1.4;
  font-size: 1.6rem;
}
.my-exp {
  border-bottom: 1px solid #1a1927;
  width: 97%;
  color: #1a1927;
}
.experience-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1% 6% 4% 0%;
}
.work-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-right: 3%;
}
.work-container div {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 1%;
  text-align: justify;
}
.work-container div h2 {
  text-align: center;
  padding: 4% 0%;
}
.work-container div i {
  text-align: center;
}
.projects {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 650px) {
  .projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .projects img {
    width: 60%;
  }
  .projects div {
    padding: 2%;
    margin-top: 2%;
    width: 80%;
  }
}
.projects div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1%;
}
.projects div:hover {
  opacity: 0.8;
}
.projects div img {
  min-width: 0;
  text-align: center;
}
